<header class="colored-background header">
    <img class="logo" src="assets/Heart.png">
    PetCupid
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <gallery [pets]="petsDisplayList"></gallery>
        </div>
        <div class="col-md-3">
            <div class="gallery-detail">
                <section class="tiny-dialog">
                    <h3>Pick &amp; Play</h3>

                    <p>Like to play and cudle with pets but can't keep one at home?</p>
                    <ol class="big-numbers">
                        <li>Pick a cute pet</li>
                        <li>Setup a date</li>
                        <li>Go play!</li>
                    </ol>
                </section>
                <section class="tiny-dialog">
                    <h3>Find your pet</h3>
                    <pet-filter (petFilteringChanged)="updateFiltering($event)"></pet-filter>
                </section>

                <section class="tiny-dialog">
                    <h3>Bobby</h3>

                    <p>Bobby loves to fetch balls and chase rabbits. Great with kids.</p>

                    <div class="dialog-centered">
                        <button type="button" class="btn btn-primary btn-lg dialog-centered">Setup date</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<footer class="hugs-bottom colored-background footer">
    <p>&copy; 2015 Cegeka</p>
</footer>
