<header class="colored-background header">
    <img class="logo" src="assets/Heart.png">
    PetCupid
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="gallery">
                <div class="gallery-pet">
                    <img class="profile-picture" src="assets/chicken1.jpg">

                    <div class="overlay">
                        <div class="overlay-text">Princess</div>
                    </div>
                </div>
                <div class="gallery-pet">
                    <img class="profile-picture" src="assets/cat1.jpg">

                    <div class="overlay">
                        <div class="overlay-text">MrFuzz</div>
                    </div>
                </div>
                <div class="gallery-pet">
                    <img class="profile-picture" src="assets/dog1.jpg">

                    <div class="overlay">
                        <div class="overlay-text">Burt</div>
                    </div>
                </div>
                <div class="gallery-pet">
                    <img class="profile-picture" src="assets/cat2.jpg">

                    <div class="overlay">
                        <div class="overlay-text">MissPoes</div>
                    </div>
                </div>
                <div class="gallery-pet">
                    <img class="profile-picture" src="assets/dog2.jpg">

                    <div class="overlay">
                        <div class="overlay-text">Lady</div>
                    </div>
                </div>
                <div class="gallery-pet">
                    <img class="profile-picture" src="assets/cat3.jpg">

                    <div class="overlay">
                        <div class="overlay-text">Grumpy</div>
                    </div>
                </div>
                <div class="gallery-pet active">
                    <img class="profile-picture" src="assets/dog3.jpg">

                    <div class="overlay">
                        <div class="overlay-text">Bobby</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="gallery-detail">
                <section class="tiny-dialog">
                    <h3>Pick &amp; Play</h3>

                    <p>Like to play and cudle with pets but can't keep one at home?</p>
                    <ol class="big-numbers">
                        <li>Pick a cute pet</li>
                        <li>Setup a date</li>
                        <li>Go play!</li>
                    </ol>
                </section>
                <section class="tiny-dialog">
                    <h3>Find your pet</h3>

                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">All</option>
                                <option value="cat">Cat</option>
                                <option value="dog">Dog</option>
                                <option value="chicken">Chicken</option>
                            </select>
                        </div>
                    </form>
                </section>

                <section class="tiny-dialog">
                    <h3>Bobby</h3>

                    <p>Bobby loves to fetch balls and chase rabbits. Great with kids.</p>

                    <div class="dialog-centered">
                        <button type="button" class="btn btn-primary btn-lg dialog-centered">Setup date</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<footer class="hugs-bottom colored-background footer">
    <p>&copy; 2015 Cegeka</p>
</footer>
