<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/assets/main.css"></link>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <app>
          Loading...
      </app>
  </body>
</html>
